# Copy this file to `.env` and fill in the settings

# This makes shellcheck shut up when editing .env in vim
# shellcheck disable=SC0000-SC9999

# Password for the Pi-Hole admin interface
PIHOLE_WEB_PASSWORD=hunter2

# E-mail address for SSL certs created by SWAG
SWAG_EMAIL=foo@example.com

# The local IP address of the computer that's running the services. You should
# set up a static IP address. This is needed by Pi-Hole.
LOCAL_IP=192.168.x.y

# The user ID that processes running in containers should use. This is used to
# avoid having to be root to do git operations in this repository. See the
# output of `id`.
UID=1000

# The group ID that processes running in containers should use.
GID=1000
