# Copy this file to `.env` and fill in the settings

# This makes shellcheck shut up when editing .env in vim
# shellcheck disable=SC0000-SC9999

# Password for the Pi-Hole admin interface
PIHOLE_WEB_PASSWORD=hunter2

# E-mail address for SSL certs created by SWAG
SWAG_EMAIL=foo@example.com
