<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <link href="/static/base.css" rel="stylesheet" />
        <link href="/static/shadows.css" rel="stylesheet" />
        <title>
            {{#if title}}
                {{title}}
            {{else}}
                Untitled
            {{/if}}
        </title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
